/**
 * Project - Hero
 */

.hero {
  &__inner {
    position: relative;
    width: 100%;
    height: calc(100vh - 4.5rem);
    overflow: hidden;

    @media (min-width: breakpoint("md")) {
      height: 100vh;
    }
  }

  &__cover {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
  }

  //&__coverImage {
  //  position: absolute;
  //  width: 100%;
  //  height: 50%;

  //  &.--image_1 {
  //    top: 0;
  //    left: 0;
  //    background: url("./assets/main00.jpg") no-repeat center center / cover scroll;
  //  }

  //  &.--image_2 {
  //    right: 0;
  //    bottom: 0;
  //    background: url("./assets/main01.jpg") no-repeat center center / cover scroll;
  //  }

  //  @media (min-width: breakpoint("md")) {
  //    width: 50%;
  //    height: 100%;
  //  }
  //}

  &__coverImage {
    position: absolute;
    width: 100%;
    height: 100%;

    &.--image_1 {
      top: 0;
      left: 0;
      background: url("./assets/main05.jpg") no-repeat 75% 50% / cover scroll;
    }
  }

  &__coverGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(120deg, transparent 0%, transparent 24.9%, themeColor("primary") 25%, transparent 25.1%, transparent 74.9%, themeColor("primary") 75%, transparent 75.1%);

    @media (min-width: breakpoint("md")) {
      background: repeating-linear-gradient(120deg, transparent 0%, transparent 33.3%, themeColor("primary") 33.35%,  transparent 33.4%);
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    @include row();
    width: 100%;
    height: 100%;
  }

  &__content {
    color: themeColor("primary");
    text-align: center;
  }

  &__largeText {
    margin-top: 6rem;
    font-style: italic;
    font-weight: 700;
    font-size: clamp(3rem, 8vw, 6rem);
    line-height: 1;
  }

  &__smallText {
    font-weight: 200;
    font-size: clamp(1rem, 5.33vw, 2rem);
    line-height: 1;
  }

  &__arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width:3rem;
    height: auto;
    margin: auto;
  }
}
