/**
 * Project - Post Item
 */

.postItem {
  &__info {
    gap: space(3);
    margin-top: space(2);
    margin-bottom: space(1);
    font-size: $smallFontSize;
  }

  &__heading {
    margin-top: space(2);
    margin-bottom: space(1);
    font-size: $h2FontSize;
  }

  &__terms {
    background-color: themeColor("primary");
    color: themeColor("lightest");
    
    span {
      padding: 0 space(1);
    }

  }

  &__excerpt {
    margin-bottom: space(1);
  }

  &__content.entry-content {
    padding: space(3) 0;
  }

  &.--single {
    .postItem {
      &__image {
        @include col(4, "md", true);
      }

      &__content {
        @include col(5, "md", true);
        margin-bottom: space(4);
      }
    }
  }
}
