/**
 * Layout - Header
 */

$headerHeight: 5.25rem;

.header {
  height: $headerHeight;

  &__inner {
    height: 100%;
    background-color: $bodyBg;

    &.active {
      background-color: transparent;
    }
  }

  &__container {
    @include container();
    height: 100%;
  }
}
