/**
 * Layout - Header
 */

$headerHeight: 5.25rem;

:target {
  scroll-margin-top: $headerHeight;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: $headerHeight;

  &__inner {
    position: relative;
    height: 100%;
    background-color: $bodyBg;
    transition: .35s all ease-in-out;

    .--change & {
      background-color: transparent;
    }
  }

  &__container {
    @include container();
    position: static;
    height: 100%;
  }
}
