/**
 * Layout - Title Area
 */

.titleArea {
  &__container {
    @extend %__containerLg;
  }

  &__title {
    margin: 0;

    &.has-secondary-color {
      text-shadow: -2px 2px 4px themeColor("lightest"), 2px 2px 4px themeColor("lightest"), -2px -2px 4px themeColor("lightest"), 2px -2px 4px themeColor("lightest");
    }
  }

  &__subtitle {
    font-style: normal;
    font-size: clamp(1rem, 2.67vw, 2rem);
  }

  .wp-block-post-title {
    font-size: clamp(1rem, 2.67vw, 2rem);
  }
}
