<!-- wp:html -->
<div class="frontPage">
  <main class="frontPage__main">
    <header class="frontPage__header">
      <h1 class="frontPage__siteBrand"><img src="/data/themes/iwamidenko/assets/logo_main_white.png">
    </header>
    <div class="frontPage__body">
      <ul class="frontPage__nav">
        <li class="frontPage__navItem">
          <a href="/about-us/">
            <span class="frontPage__heading --en">about us</span>
            <span class="frontPage__heading --jp">私たちについて</span>
          </a>
        </li>
        <li class="frontPage__navItem">
          <a href="/blog/">
            <span class="frontPage__heading --en">news</span>
            <span class="frontPage__heading --jp">お知らせ</span>
          </a>
        </li>
        <li class="frontPage__navItem">
          <a href="/recruit/">
            <span class="frontPage__heading --en">recruit</span>
            <span class="frontPage__heading --jp">採用情報</span>
          </a>
        </li>
        <li class="frontPage__navItem">
          <a href="/contact/">
            <span class="frontPage__heading --en">contact</span>
            <span class="frontPage__heading --jp">お問合せ</span>
          </a>
        </li>
        <li class="frontPage__navItem">
          <a href="/about-us/#access">
            <span class="frontPage__heading --en">access</span>
            <span class="frontPage__heading --jp">アクセス</span>
          </a>
        </li>
      </ul>
      <div class="frontPage__content">
        <p class="frontPage__lead --en">Let`s create brighter future</p>
        <p class="frontPage__lead --jp">「明るい」未来をつくろう。</p>
      </div>
    </div>
    <footer class="frontPage__footer">
      <small class="frontPage__copyright">Copyright &copy;iwamidenko.Co., Ltd. All Rights Reserved.</small>
    </footer>
  </main>
  <div class="frontPage__cover --triangle"></div>
  <div class="frontPage__cover --gradient"></div>
</div>
<!-- /wp:html -->
