<!-- wp:template-part {"slug":"header","theme":"iwamidenko","tagName":"header","className":"header --main --change"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:cover {"url":"https://iwamidenko.sakuraweb.com/data/uploads/DSC03404-scaled-1.jpg","id":281,"dimRatio":0,"overlayColor":"darkest","isUserOverlayColor":true,"focalPoint":{"x":0.5,"y":0.1},"minHeightUnit":"rem","style":{"spacing":{"padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}},"className":"titleArea"} -->
<div class="wp-block-cover titleArea" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><span aria-hidden="true" class="wp-block-cover__background has-darkest-background-color has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-281" alt="" src="https://iwamidenko.sakuraweb.com/data/uploads/DSC03404-scaled-1.jpg" style="object-position:50% 10%" data-object-fit="cover" data-object-position="50% 10%"/><div class="wp-block-cover__inner-container"><!-- wp:group {"className":"titleArea__inner","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group titleArea__inner"><!-- wp:group {"align":"wide","className":"titleArea__container"} -->
<div class="wp-block-group alignwide titleArea__container"><!-- wp:heading {"textAlign":"center","level":1,"align":"wide","style":{"typography":{"fontStyle":"italic","fontWeight":"600"}},"textColor":"secondary","className":"titleArea__title","fontSize":"x-large"} -->
<h1 class="wp-block-heading alignwide has-text-align-center titleArea__title has-secondary-color has-text-color has-x-large-font-size" id="私たちについて" style="font-style:italic;font-weight:600">ABOUT US<br><span class="titleArea__subtitle">私たちについて</span></h1>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></header>
<!-- /wp:group -->

<!-- wp:html -->
<section class="aboutUs">
  <section class="aboutUs__concept">
    <h2 class="aboutUs__heading">CONCEPT</h2>
    <h3 class="aboutUs__pageLead"><span>「明るく」一丸となって、</span>
      <br><span>「明るい」地域社会の発展に</span><span>貢献します。</span></h3>
    <p><span>私たちは、電気⼯事を通じて明るい未来を</span><span>地域社会にもたらすことを⽬指しています。</span></p>
    <p><span>お客様の想いを第⼀に考え、</span><span>常にベストな提案とサービスを⼼掛けています。</span></p>
    <p><span>失敗を恐れず挑戦し、常に成⻑を追求し、</span><span>誇り⾼く礼儀正しく⾏動します。</span></p>
    <p><span>私たちの⽬標は、社員とその家族が健康で</span><span>幸せな⽣活を送れるような会社を作ること。</span></p>
    <p><span>⼀緒に⼀歩前進し、品質向上を⽬指しましょう。</span></p>
  </section>
  <section class="aboutUs__philosophy">
    <h2 class="aboutUs__heading">PHILOSOPHY
      <br><span class="aboutUs__headingJp">経営理念</span></h2>
    <ul class="aboutUs__philosophyList">
      <li class="aboutUs__philosophyItem">
        <span>philosophy 1</span><hr>
        <span><span>電気⼯事を通じて、地域社会の発展に寄与する</span></span>
      </li>
      <li class="aboutUs__philosophyItem">
        <span>philosophy 2</span><hr>
        <span><span>お客様の想いに対して常にベストな提案を⾏い、</span><span>より良いサービスを提供する</span></span>
      </li>
      <li class="aboutUs__philosophyItem">
        <span>philosophy 3</span><hr>
        <span><span>常に挑戦する姿勢を忘れず、</span><span>向上⼼を持って⾏動する</span></span>
      </li>
      <li class="aboutUs__philosophyItem">
        <span>philosophy 4</span><hr>
        <span><span>仕事に誇りを持ち、礼儀正しく誠実に⾏動し、</span><span>エンジニアとして⼈間として成⻑する</span></span>
      </li>
      <li class="aboutUs__philosophyItem">
        <span>philosophy 5</span><hr>
        <span><span>常に社員とそのご家族が健康で幸せな⼈⽣を</span><span>送れる会社であることを追求する</span></span>
      </li>
    </ul>
    <div class="aboutUs__philosophyBg"></div>
  </section>
  <section class="aboutUs__message">
    <h2 class="aboutUs__headline">MESSAGE
      <br><span class="aboutUs__headlineJp">代表メッセージ</span></h2>
    <figure class="aboutUs__portrait">
      <img src="/data/themes/iwamidenko/assets/iwami_portrait.jpg" alt="代表取締役社⻑ 岩⾒ 祐樹">
      <figucaption>代表取締役社⻑ 岩⾒ 祐樹</figucaption>
    </figure>
    <div class="aboutUs__content">
      <p class="aboutUs__sectionLead">常にお客様の想いに応えたい。</p>
      <p>先代(現代表取締役会⻑)が起業して以来、常にその思いが根底にありました。よりお客様の想いに応えるためには、例えリスクであったとしても常に向上⼼を持ち挑戦していかなければなりません。電気⼯事におけるより良い品質、より安価な価格のご提案はもちろんのこと、空調⼯事、換気⼯事も含めた幅広いサポート等、常にお客様の想いに応えるべく⾏って挑戦の積み重ねにより、今では多くのお客様の信頼を得ることが出来たと思っています。今後もその初⼼を忘れずより多くのお客様により深い信頼を得られるよう精進していく所存です。</p>
    </div>
  </section>
  <section class="aboutUs__construction">
    <div class="aboutUs__constructionContent">
      <h2 class="aboutUs__headline">CONSTRUCTION
        <br><span class="aboutUs__headlineJp">施工事例</span></h2>
      <h3 class="aboutUs__subheadline --level_3">電気設備⼯事</h3>
      <h4 class="aboutUs__subheadline --level_4">◆官公庁工事</h4>
      <table class="aboutUs__table">
        <tr><td>令和5年7⽉</td><td>福井市／東安居団地D棟新築電気設備⼯事</td></tr>
        <tr><td>令和5年7⽉</td><td>福井市企業局／R3公207号加茂河原ポンプ場 更新建築電気設備⼯事</td></tr>
        <tr><td>令和4年3⽉</td><td>福井県／警察本部庁舎⾮常⽤発電機整備⼯事</td></tr>
        <tr><td>令和4年3⽉</td><td>福井市／桜⽊図書館電灯設備更新⼯事</td></tr>
        <tr><td>令和3年3⽉</td><td>福井市企業局／R2公223号⽇野川浄化センター 空調設備中央監視装置更新⼯事</td></tr>
      </table>
      <h4 class="aboutUs__subheadline --level_4">◆民間工事</h4>
      <table class="aboutUs__table">
        <tr><td>令和5年3⽉</td><td>株式会社ほっとリハビリシステムズ 鯖江事業所 新築⼯事</td></tr>
        <tr><td>令和4年8⽉</td><td>株式会社伝⾷ 物流倉庫・⽔産加⼯場新築⼯事</td></tr>
        <tr><td>令和4年2⽉</td><td>コメリパワー名張店 新築⼯事</td></tr>
        <tr><td>令和4年2⽉</td><td>株式会社等愛会 若狭町特定施設新築⼯事</td></tr>
      </table>
      <h3 class="aboutUs__subheadline --level_3">プラント設備⼯事</h3>
      <h4 class="aboutUs__subheadline --level_4">◆官公庁工事</h4>
      <table class="aboutUs__table">
        <tr><td>令和5年4⽉</td><td>国⼟交通省／⼤野油坂道路荒島第1トンネル 照明設備⼯事</td></tr>
        <tr><td>令和5年4⽉</td><td>⽯川県⾦沢市／犀川浄⽔場 監視制御装置更新⼯事</td></tr>
        <tr><td>令和5年3⽉</td><td>兵庫県⾼砂市／（仮称）伊保スポーツ広場 整備⼯事</td></tr>
        <tr><td>令和4年3⽉</td><td>兵庫県加古川市／加古川東市⺠病院跡地 整備事業【⽔景設備⼯事】</td></tr>
        <tr><td>令和4年3⽉</td><td>⽇本下⽔道事業団／越前市今⽴浄化センター 電気設備⼯事</td></tr>
        <tr><td>令和4年1⽉</td><td>滋賀県／某ポンプ場⾃家発電設備更新⼯事</td></tr>
      </table>
      <h4 class="aboutUs__subheadline --level_4">◆民間工事</h4>
      <table class="aboutUs__table">
        <tr><td>令和4年8⽉</td><td>某アルミ製造メーカー⼯場 電気・計装設備⼯事</td></tr>
        <tr><td>令和4年7⽉</td><td>(株)クボタ グローバル技術研究所新築⼯事</td></tr>
        <tr><td>令和4年2⽉</td><td>某建機メーカー⼯場 電気・計装設備⼯事</td></tr>
      </table>
    </div>
    <div class="aboutUs__constructionBg"></div>
  </section>
  <section class="aboutUs__qualifications">
    <h2 class="aboutUs__headline">QUALIFICATIONS
      <br><span class="aboutUs__headlineJp">資格</span></h2>
    <div class="aboutUs__qualificationsContent">
      <ul class="aboutUs__list">
        <li class="aboutUs__listItem">⼀級電気⼯事施⼯管理技⼠ 8名</li>
        <li class="aboutUs__listItem">⼆級電気⼯事施⼯管理技⼠ 1名</li>
        <li class="aboutUs__listItem">⼀級⼟⽊施⼯管理技⼠ 2名</li>
        <li class="aboutUs__listItem">⼀級計装⼠ 1名</li>
        <li class="aboutUs__listItem">⼀級管⼯事施⼯管理技⼠ 1名</li>
        <li class="aboutUs__listItem">登録電気⼯事基幹技能者 1名</li>
        <li class="aboutUs__listItem">特種電気⼯事資格者（⾮常⽤予備発電装置） 1名</li>
        <li class="aboutUs__listItem">⼀種電気⼯事⼠ 14名</li>
        <li class="aboutUs__listItem">⼆種電気⼯事⼠ 10名</li>
        <li class="aboutUs__listItem">あと施⼯アンカー（技術管理⼠） 1名</li>
        <li class="aboutUs__listItem">あと施⼯アンカー（第⼆種） 2名</li>
        <li class="aboutUs__listItem">⼆種下⽔道技術検定 1名</li>
        <li class="aboutUs__listItem">消防設備⼠ 甲-4種 3名</li>
        <li class="aboutUs__listItem">第⼀級陸上特殊無線技⼠ 1名</li>
      </ul>
    </div>
    <div class="aboutUs__qualificationsBg"></div>
  </section>
  <section class="aboutUs__history">
    <h2 class="aboutUs__headline">HISTORY
      <br><span class="aboutUs__headlineJp">沿革</span></h2>
    <table class="aboutUs__table">
      <tr><td>昭和48年2⽉</td><td>岩⾒電⼯を創業</td></tr>
      <tr><td>昭和58年6⽉</td><td>岩⾒電⼯株式会社を設⽴</td></tr>
      <tr><td>昭和58年12⽉</td><td>電気⼯事業 県知事許可取得</td></tr>
      <tr><td>平成3年10⽉</td><td>業務拡張に伴い、福井市成和に社屋を新築移転</td></tr>
      <tr><td>平成25年8⽉</td><td>福井市問屋町に第2倉庫建設</td></tr>
      <tr><td>平成28年12⽉</td><td>ISO 9001 取得</td></tr>
      <tr><td>平成30年6⽉</td><td>関連会社 株式会社アイディ 設⽴</td></tr>
      <tr><td>令和元年10⽉</td><td>岩⾒祐樹が代表取締役社⻑に就任</td></tr>
      <tr><td>令和3年3⽉</td><td>能美営業所 開設</td></tr>
      <tr><td>令和3年8⽉</td><td>プラント事業部 開設</td></tr>
    </table>
  </section>
  <section class="aboutUs__information">
    <h2 class="aboutUs__headline">INFORMATION
      <br><span class="aboutUs__headlineJp">会社概要</span></h2>
    <div class="aboutUs__informationContent">
      <table class="aboutUs__table">
        <tr><td>会社名</td><td>岩⾒電⼯株式会社</td></tr>
        <tr><td>本社</td><td>〒918-8239 福井県福井市成和2丁⽬ 904-1<br><span>TEL 0776-26-6464</span><span>FAX 0776-26-6484</span></td></tr>
        <tr><td>能美営業所</td><td>〒923-1235 ⽯川県能美市徳久町レ37番3<br><span>TEL 0761-58-0180</span><span>FAX 0761-58-0140</span></td></tr>
        <tr><td>代表</td><td>代表取締役社⻑ 岩⾒ 祐樹</td></tr>
        <tr><td>資本⾦</td><td>2000万円</td></tr>
        <tr><td>創業</td><td>1973（昭和48）年2⽉</td></tr>
        <tr><td>従業員数</td><td>32名(令和6年4⽉現在)</td></tr>
        <tr><td>建設業許可</td><td>・福井県知事許可 (特-2) 第5187号<br>電気⼯事業<br>・福井県知事許可 (般-2) 第5187号<br>管⼯事業 電気通信⼯事業 消防施設⼯事業</td></tr>
        <tr><td>およびISO</td><td>・ISO 9001：2022 認証</td></tr>
      </table>
    </div>
    <div class="aboutUs__informationBg"></div>
  </section>
  <section id="access" class="aboutUs__access">
    <h2 class="aboutUs__headline">ACCESS
      <br><span class="aboutUs__headlineJp">アクセス</span></h2>
    <div class="aboutUs__accessMap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3225.5543253066853!2d136.24636707555746!3d36.055581309319685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8bc29ff17934d%3A0x4abfe9f69036c7!2z5bKp6KaL6Zu75bel77yI5qCq77yJ!5e0!3m2!1sja!2sjp!4v1716464028989!5m2!1sja!2sjp" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
</section>
<!-- /wp:html --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"iwamidenko","className":"footer --main"} /-->