<!-- wp:template-part {"slug":"header","theme":"iwamidenko","tagName":"header","className":"header --main --change"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:cover {"url":"https://iwamidenko.sakuraweb.com/data/uploads/cover_privacy-policy.jpg","id":299,"dimRatio":0,"overlayColor":"darkest","isUserOverlayColor":true,"minHeightUnit":"rem","style":{"spacing":{"padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}},"className":"titleArea"} -->
<div class="wp-block-cover titleArea" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><span aria-hidden="true" class="wp-block-cover__background has-darkest-background-color has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-299" alt="" src="https://iwamidenko.sakuraweb.com/data/uploads/cover_privacy-policy.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"className":"titleArea__inner","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group titleArea__inner"><!-- wp:group {"align":"wide","className":"titleArea__container"} -->
<div class="wp-block-group alignwide titleArea__container"><!-- wp:heading {"textAlign":"center","level":1,"align":"wide","style":{"typography":{"fontStyle":"italic","fontWeight":"600"}},"textColor":"secondary","className":"titleArea__title","fontSize":"x-large"} -->
<h1 class="wp-block-heading alignwide has-text-align-center titleArea__title has-secondary-color has-text-color has-x-large-font-size" id="プライバシーポリシー" style="font-style:italic;font-weight:600">PRIVACY POLICY<br><span class="titleArea__subtitle">プライバシーポリシー</span></h1>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide main__container"><!-- wp:group {"className":"postItem","layout":{"type":"default"}} -->
<div class="wp-block-group postItem"><!-- wp:post-content {"className":"postItem__content"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"iwamidenko","className":"footer --main"} /-->