<!-- wp:template-part {"slug":"header","theme":"iwamidenko","tagName":"header","className":"header \u002d\u002dmain \u002d\u002dchange"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:cover {"url":"https://iwamidenko.sakuraweb.com/data/uploads/cover_privacy-policy.jpg","id":299,"dimRatio":0,"overlayColor":"darkest","isUserOverlayColor":true,"minHeightUnit":"rem","isDark":false,"style":{"spacing":{"padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}},"className":"titleArea"} -->
<div class="wp-block-cover is-light titleArea" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><span aria-hidden="true" class="wp-block-cover__background has-darkest-background-color has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-299" alt="" src="https://iwamidenko.sakuraweb.com/data/uploads/cover_privacy-policy.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"className":"titleArea__inner","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group titleArea__inner"><!-- wp:group {"align":"wide","className":"titleArea__container"} -->
<div class="wp-block-group alignwide titleArea__container"><!-- wp:heading {"textAlign":"center","level":1,"align":"wide","style":{"typography":{"fontStyle":"italic","fontWeight":"600"}},"textColor":"secondary","className":"titleArea__title","fontSize":"x-large"} -->
<h1 class="wp-block-heading alignwide has-text-align-center titleArea__title has-secondary-color has-text-color has-x-large-font-size" id="お知らせ" style="font-style:italic;font-weight:600">NEWS<br><span class="titleArea__subtitle">お知らせ</span></h1>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"main__body","layout":{"type":"constrained"}} -->
<div class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide main__container"><!-- wp:group {"style":{"spacing":{"padding":{"right":"6rem"}}},"className":"blogAside","layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group blogAside" style="padding-right:6rem"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"italic","fontWeight":"600"}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color" style="font-style:italic;font-weight:600">CATEGORY</h3>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[categoryArchives]
<!-- /wp:shortcode -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"italic","fontWeight":"600"}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color" style="font-style:italic;font-weight:600">MONTHLY</h3>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[monthlyArchives]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"blogMain","layout":{"type":"constrained"}} -->
<div class="wp-block-group blogMain"><!-- wp:query {"queryId":9,"query":{"perPage":10,"pages":0,"offset":0,"postType":"blog","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:post-date {"format":"Y.m","style":{"elements":{"link":{"color":{"text":"var:preset|color|light"}}}},"textColor":"secondary","fontSize":"large"} /-->

<!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"ページが見つかりませんでした。"} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"iwamidenko","className":"footer \u002d\u002dmain"} /-->